@use "base/variables" as *;
@use "utils/media" as *;

body {
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    background-color: $background;
    font-size: $font-size;
    font-family: $font-stack;
    color: $text;
    font-weight: 400;
    // text-align: center;
}

// header {}

section {
    padding-bottom: 50px;
}

footer {
    bottom: 15px;
}

@include respond(large) {
    body {
        width: 95%;
        padding: 30px;
    }

    section {
        width: 100%;
        padding-bottom: 30px;
    }

    footer {
        position: static;
        width: 100%;
        text-align: center;
    }
}

@include respond(medium) {
    footer {
        position: static;
        float: none;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

    }

    body {
        padding: 10px;
    }

    section {
        padding-bottom: 20px;
    }
}

@include respond(small) {
    body {
        padding: 10px;
        font-size: 14px;
    }

    footer {
        width: 100%;
        float: none;
        text-align: center;
    }

    section {
        width: 100%;
        float: none;
        padding-bottom: 10px;
    }
}
