<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ config.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.description }}" />
    <link rel="stylesheet" href="{{ get_url(path='main.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ get_url(path='favicon.svg') }}">
  </head>

  <body class="preload">
    <section>
      {% block content %} 
      {% endblock %}
    </section>
    {% include "footer.html" %}
    <script>
      window.addEventListener("load", function() {
        document.body.classList.remove("preload"); // wait for page content to fully load before rendering
      })
    </script>
  </body>
</html>
