<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ config.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.description }}" />
    
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ get_url(path='images/favicon.png') }}">
    
    <link rel="preload" href="{{ get_url(path='style.css') }}" as="style">
    <link rel="preload" href="{{ get_url(path='fonts/VERTIGA-REGULAR.otf') }}" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="{{ get_url(path='fonts/VERTIGA-BOLD.otf') }}" as="font" type="font/otf" crossorigin>
    <!-- <link rel="preload" href="{{ get_url(path='fonts/VERTIGA-BLACK.otf') }}" as="font" type="font/otf" crossorigin> -->
  </head>

  <body class="preload min-h-screen bg-gray-800">
    {% include "header.html" %}
    {% block content %} 
    {% endblock %}
    {% include "footer.html" %}
    
    <script>
      window.addEventListener("load", function() {
        document.body.classList.remove("preload"); // wait for page content to fully load before rendering
      })
    </script>
  </body>
</html>
