{% extends "base.html" %}

{% block content %}
  <section class="hero">
    <div class="container">
      <h1>{{ config.title }} | {{ config.description }}</h1>
      {{ section.title }}
      {{ section.content | safe }}
    </div>
  </section>

  {% set services = get_page(path="services.md") %}
  <section class="services">
    <div class="container">
      {{ services.content | safe }}
    </div>
  </section>

  {% set testimonials = get_page(path="testimonials.md") %}
  <section class="testimonials">
    <div class="container">
      {{ testimonials.content | safe }}
    </div>
  </section>

  {% set cta = get_page(path="cta.md") %}
  <section class="about-us">
    <div class="container">
      {{ cta.content | safe }}
    </div>
  </section>

  {% set contact = get_page(path="contact.md") %}
  <section class="contact">
    <div class="container">
      {{ contact.content | safe }}
    </div>
  </section>

{% endblock content %}
