.animate-on-load {
    opacity: 0;
    transform: translateY(15px);
  }
  
  header,
  section,
  footer {
    animation: fadeInUp 0.5s ease-in-out;
  }
    
  @keyframes fadeInUp {
    from {
      opacity: 0.2;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.preload {
  visibility: hidden;
}
